
@{
    ViewBag.Title = "GoogleDriveConnectionError";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Google Drive Connection Error</h1>
    <p style="margin-top:15px;"><a href="https://console.developers.google.com/apis/dashboard?project=aspdotnetcsharp-221915&duration=PT1H" target="_blank" class="btn btn-primary">Set Your Google Drive API Credential &raquo;</a></p>
    <img src="~/Content/images/googledriveapiconnection.png" alt="google drive api connection" style="width:100%;" />
    <p style="margin-top:15px;">SETPE-1: Click on Download JSON button as you can in above image ans save it in your local machine</p>
    <p style="margin-top:15px;">SETPE-2: Please rename the downloaded json file as client_secret.json</p>
    <p style="margin-top:15px;">SETPE-3: Add client_secret.json to project directory as you see in below image</p>
    <img src="~/Content/images/client_secret.png" alt="google drive api client secret" style="width:100%;"/>
    <p style="margin-top:15px;">SETPE-4: You are done.</p>
</div>
